nav {
    background-color: #E76C1F;
    height: 128px;
    display: flex;
}

header {
    background-image: url(./assets/img/Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 636px;
}

.headerIconBurger {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.contentHeader {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
}

.contentMain {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 132px;
    margin-inline: 24px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.title img {
    height: 32px;
}

.menuDishes{
    background-color: #FDEADC;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.contentMenuDishes{
    display: flex;
    max-width: 1440px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
}
.contentMenuDishes a:hover{
    color: #E76C1F;
}

.contentDishes {
    width: 100%;
}

.mainDishes {
    margin-bottom: 64px;
}

.header_dishes {
    background-color: #E76C1F;
    height: 60px;
    position: absolute;
    left: 0;
    width: 100%;
}

.header_dishes img {
    height: 90px;
    transform: translateY(-30%);
}

.header_dishes h2 {
    transform: translateY(-18%);
}

.contentDishesHeader{
    color: white;
    display: flex;
    padding-left: 24px;
    gap: 32px;
    margin: 0 auto;
    max-width: 1440px;
}

.orderDishes{
    padding-top: 60px;
}

.dishes {
    background-color: #FDEADC;
    display: flex;
    gap: 24px;
    padding: 32px;
    max-width: 820px;
    margin-inline: 24px;
    margin-top: 16px;
    border-radius: 16px;
}

.dishes img {
    height: 120px;
    object-fit: cover;
    border-radius: 16px;
}

.descriptionDishes {
    flex: 1;
}

.priceDishes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

footer {
    background-color: #E76C1F;
    height: 128px;
    display: flex;
}

.contentFooter {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    padding: 24px;
    color: white;
    font-size: 24px;
    margin: 0 auto;
}