nav {
    background-color: #E76C1F;
    height: 128px;
    display: flex;
}

header {
    background-image: url(./assets/img/Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 636px;
}

.header_Icon_Burger {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.contentHeader{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contentMain{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 132px
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.title img {
    height: 32px;
}

.contentDishes{
    width: calc(100% - 435px);
}

.mainDishes {
    margin-bottom: 64px;
}

.header_dishes {
    background-color: #E76C1F;
    height: 60px;
    color: white;
    display: flex;
    padding-left: 24px;
    gap: 32px;
    width: calc(100% + 435px)
}

.header_dishes img {
    height: 90px;
    transform: translateY(-30%);
}

.header_dishes h2 {
    transform: translateY(-18%);
}

.dishes {
    background-color: #FDEADC;
    display: flex;
    gap: 24px;
    padding: 32px;
    max-width: 820px;
    margin-left: 24px;
    margin-top: 16px;
    border-radius: 16px;
}

.dishes img {
    height: 120px;
}

.descriptionDishes {
    flex: 1;
}

.priceDishes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

footer {
    background-color: #E76C1F;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    color: white;
}