.btnDishes{
    border: none;
    background-color: white;
    border-radius: 24px;
    padding: 8px;
    font-size: 16px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 600;
}

.btnBasket{
    border: none;
    background-color: #E76C1F;
    border-radius: 24px;
    padding: 8px;
    font-size: 32px;
    color: white;
    width: 100%;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    margin-top: 16px;
    padding-inline: 16px;
}

.btnAmount{
    border: none;
    background-color: #FDEADC;
    font-size: 24px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 600;
    transform: translateY(-3px);
}

.closeButtonDialog {
    background-color: #363534;;
    color: white;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

dialog{
    position: fixed;
    margin: auto;
    border: none;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #363534;
    color: white;
    text-align: center;
    padding-block: 32px;
    padding-inline: 48px;
}

dialog img{
    height: 60px;
    width: 80px;
}
