.sidebar {
    position: sticky;
    /* top: calc(50vh - 225px);
    right: 0; */
    top: 0;
    margin-left: auto;
    width: 365px;
    max-height: 800px;
    margin-top: 380px;
    background-color: #363534;
    color: white;
    text-align: center;
    float: right;
    border-radius: 32px 0px 0px 32px;
    padding-inline: 24px;
    padding-block: 32px;
    z-index: 5;
    align-self: flex-start;
}

.h_line {
    height: 1px;
    background-color: white;
    width: 100%;
    border: none;
    margin-block: 8px;
}

.basketText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.basketWidth{
    max-height: 440px;
    overflow-y: auto;
    padding-right: 12px;
}

.basketWidth::-webkit-scrollbar{
    width: 6px;
}

.basketWidth::-webkit-scrollbar-thumb{
    
    background-color: #ccc;
    border-radius: 1px;
}

.basketDishes {
    background-color: #FDEADC;
    display: grid;
    grid-template-columns: 200px auto;
    padding: 16px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
    color: black;
}

.basketCounter{
    grid-row-start: 2;
    display: flex;
    align-items: center;
    gap: 8px;
}

.basketPrice{
    grid-row-start: 2;
}