.sidebar {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 435px;
    height: 850px;
    background-color: #363534;
    color: white;
    text-align: center;
    border-radius: 32px 0px 0px 32px;
    padding-inline: 24px;
    padding-block: 32px;
}

.h_line {
    height: 1px;
    background-color: white;
    width: calc(100% - 16px);
    border: none;
    margin-block: 8px;
}

.basketText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 16px);
}

.basketSize {
    max-height: 455px;
    overflow-y: auto;
}

.basketSize::-webkit-scrollbar {
    width: 6px;
}

.basketSize::-webkit-scrollbar-thumb {

    background-color: #ccc;
    border-radius: 1px;
}

.basketDishes {
    background-color: #FDEADC;
    display: grid;
    padding: 16px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
    color: black;
}

.basketCounter {
    grid-row-start: 2;
    display: flex;
    align-items: center;
    gap: 8px;
}

.basketPrice {
    grid-row-start: 2;
    justify-self: end;
}

.basketImg {
    justify-self: end;
    transform: translateY(10px);
}

.sidebar img{
    cursor: pointer;
}

.shoppingCartImg{
    width: 120px;
    height: 120px;
}

.sidebar p{
    font-size: 24px;
    margin-block: 48px;
    text-align: center;
}