.sidebar {
    position: fixed;
    top: calc(50vh - 225px);
    right: 0;
    margin-left: auto;
    width: 350px;
    max-height: 950px;
    margin-top: 0px;
    background-color: #363534;
    color: white;
    text-align: center;
    float: right;
    border-radius: 32px 0px 0px 32px;
    padding-left: 24px;
    padding-right: 48px;
    padding-block: 32px;
}

.h_line {
    height: 1px;
    background-color: white;
    width: 100%;
    border: none;
    margin-block: 8px;
}

.basketText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basketDishes {
    background-color: #FDEADC;
    display: grid;
    grid-template-columns: auto auto;
    padding: 16px;
    width: 300px;
    margin-top: 8px;
    margin-bottom: 16px;
    border-radius: 16px;
    color: black;
}

.basketCounter{
    grid-row-start: 2;
    display: flex;
    align-items: center;
    gap: 8px;
}

.basketPrice{
    grid-row-start: 2;
}