@font-face {
    font-family: 'PalanquinDark';
    src: url(../assets/fonts/PalanquinDark-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palanquin';
    src: url(../assets/fonts/Palanquin-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Palanquin', sans-serif;
}

h1 {
    font-family: 'PalanquinDark', sans-serif;
    font-size: 48px;
    font-weight: bold;
    transform: translateY(-8%);
}

h1 span{
    color: #E76C1F;
}

h2{
    font-size: 40px;
    margin-block: 0;
}

h3{
    text-align: left;
    font-size: 24px;
    margin-block: 0;
    transform: translateY(-3px);
}

.subtitle{
    font-size: 24px;
    font-weight: bold;
}

.menuDishesTitle{
    font-size: 24px;
    font-weight: bold;
}