*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.invisible{
    display: none;
}

button{
    cursor: pointer;
}